/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require jquery-ui
 *= require jquery-ui/core
 *= require jquery-ui/theme
 *= require magnific-popup
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "braintree";

$black: #444;
$darkgray: #666;
$gray: #CCC;
$white: #F8F8F8;
$red: #F33;

//
// GENERIC
//
body {
  background-color: $white;
  color: $black;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Sans', sans-serif;
}

a {
  color: $black;
}

a:hover, a:focus {
  color: $darkgray;
}

.container-fluid {
  max-width: 1080px;
}

//
// NAVBAR
//
#navbar {
  font-size: 16px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $gray;
  height: 64px;

  a {
    height: 64px;
    padding-top: 21px;
    &:hover, &:focus {
      background-color: transparent;
      text-decoration: underline;
    }
  }

  .navbar-brand, .navbar-brand:hover, .navbar-brand:focus {
    color: $red;
    font-weight: bold;
    font-size: 24px;
  }
}

//
// other
//
.carousel-inner, #listing-header-image {
  box-shadow: 0px 0px 8px $gray;
}

.profile-pic {
  width: 48px;
  height: 48px;
  border-radius: 100%;
}

#sign-out {
  position: relative;
  top: 14px;
  margin-left: 16px;
}
